---
title: Index - Graduation Party Template
---
<!-- Header Navbar -->
<%= partial "headerNav" %>

<!-- Header Cover -->
<%= partial "headerCover" %>

<!-- Event Info w/ Parallax Background -->
<%= partial "eventInfoParalBack" %>

<!-- Event Info (Detailed) -->
<%= partial "eventInfoDetailed" %>

<!-- Sub-Event List (2 Events) -->
<%= partial "subEventInfo2" %>

<!-- Sub-Event List (3 Events) -->
<%= partial "subEventInfo3" %>

<!-- Event Video -->
<%= partial "video" %>

<!-- Sponsor Area (1/2/3 Sponsors) -->
<%= partial "sponsorArea1" %>
<%= partial "sponsorArea2" %>
<%= partial "sponsorArea3" %>

<div class="container-fluid sponsorBlock" id="sponsorArea3">
	<div class="row">
		<div class="col-sm-4 sponsorInfo sponsorInfo31 sponsorUsed">
			<h2><%= lorem.words 2%></h2>
			<p><%= lorem.paragraphs 2%></p>
			<a href="#popup31">
				<button class="sponsorButton">
					拿拿拿贊助
				</button>
			</a>
		</div>

		<div class="col-sm-4 sponsorInfo sponsorInfo32">
			<h2><%= lorem.words 2%></h2>
			<p><%= lorem.paragraphs 2%></p>
			<a href="#popup32">
				<button class="sponsorButton">
					拿拿拿贊助
				</button>
			</a>
		</div>

		<div class="col-sm-4 sponsorInfo sponsorInfo33 sponsorUsed">
			<h2><%= lorem.words 2%></h2>
			<p><%= lorem.paragraphs 2%></p>
			<a href="#popup33">
				<button class="sponsorButton">
					拿拿拿贊助
				</button>
			</a>
		</div>

	</div>
</div>

<!-- Popups -->
<div id="popup31" class="overlay">
	<div class="popup">
		<h2>I'm popup 1, with SOOO MANY WORDS.</h2>
		<a class="close" href="#sponsorArea3">&times;</a>
		<div class="content">

			<p><%= lorem.paragraphs 8 %></p>

		</div>
	</div>
</div>

<div id="popup32" class="overlay">
	<div class="popup">
		<h2>I'm popup 2, with embed video.</h2>
		<a class="close" href="#sponsorArea3">&times;</a>
		<div class="content">

			<iframe width="560" height="315" src="https://www.youtube.com/embed/epiKy-p9ZCI" frameborder="0" allowfullscreen></iframe>

		</div>
	</div>
</div>

<div id="popup33" class="overlay">
	<div class="popup">
		<h2>I'm popup 3, nothing's here.</h2>
		<a class="close" href="#sponsorArea3">&times;</a>
		<div class="content">

			<!-- Place contents here. -->
			
		</div>
	</div>
</div>

<!-- Footer / Branding Area -->
<%= partial "brandArea"%>

<!-- Footer / Buying -->
<%= partial "buyingArea"%>

